/**
 * Utilities
 */

.vp.with-sidebar {
  display: flex;
}

.vp.with-sidebar .vp__sidebar,
.vp.with-sidebar .vp__wrapper {
  display: inline-block;
}

.vp.with-sidebar .vp__wrapper {
  width: 80%;
}

.vp.with-sidebar .vp__sidebar {
  width: 20%;
}

/**
 * Main
 */
.vp {
  position: relative;
  width: 700px;
}

.vp__wrapper {
  position: relative;
}

.vp__sidebar {
  box-sizing: border-box;
  padding: 10px;
}


.vp__video-container {
  position: relative;
  background-color: #000;
  height: 100%;
}

.vp__video-container video {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}


.vp__controls-container {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  display: block;
  background-color: rgba(0,0,0,.35);
  z-index: 2;
  margin-bottom: 4px;
  padding: 0 10px;
  box-sizing: border-box;
}

.controls-container__progress-bar-container {
  width: 95%;
  height: 6px;
  margin: 5px auto;
  border-radius: 7px;
  position: relative;
}

.controls-container__progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #666;
  border-radius: 7px;
}


.sources__container {
  display: inline-block;
  height: 100%;
}


.catalog__item {
  padding: 5px;
  display: inline-block;
  margin: 0 5px;
}